@import '../../../colors.scss';

.settings-block {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select {
      border: 1px solid $secondary-color-dark;
      border-radius: 2px;
      padding: 4px 8px;
      color: $primary-color-dark;
      background: $secondary-color-light;
      opacity: 0.9;
      font-weight: 700;
      letter-spacing: 0.1rem;
      outline: none;

      &:disabled {
        opacity: 0.3;
      }

      .option {
        font-weight: 700;
      }
  }

  .icon {
    font-size: 1.7rem;
  }
}

  .desc {
    font-size: 12px;
    color: $secondary-color-dark;
    opacity: 0.8;
  }
}

@media screen and (max-width: 360px) {
  .settings-block {
    .row {
      .select {
        padding: 4px 0px;
      }
    }
  }
}