@import '../../colors.scss';

.container {
  margin-top: 10px;
  padding: 0 10px;

  .keys-block {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    .row {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin: 0 auto 6px;
  
      .action-btn {
        padding: 0 12px;

        svg {
        color: $primary-color-dark;
        }
      }
    }
  }

  .row:nth-child(1) {
    max-width: calc(10*56px);
  }
  .row:nth-child(2) {
    max-width: calc(9 * 56px);
  }
  .row:nth-child(3) {
    max-width: calc(9.9 * 56px);
  }

  .btn,
  .action-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-weight: 600;
    background: $secondary-color-light;
    color: $primary-color-dark;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

    &.active {
      border: 1.6px solid #05c905;
    }

    &:hover {
      background: $secondary-color-dark;
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    .keys-block {
      .row:nth-child(2) {
        max-width: 87vw;
      }
      .row:nth-child(3) {
        max-width: 93vw;
      }
    }
  }

  .container {
    .keys-block {
      .row {
        .action-btn {
          padding: 0 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    .btn, 
    .action-btn {
      height: 2rem;
    }
  }
}