* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;

  &:hover {
    opacity: 0.7;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  background: transparent;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

svg {
  color: #999999;
    cursor: pointer;
    transition: .4s ease;

    &:hover {
      color: #000;
    }
}


//header-style
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  margin-bottom: 50px;
  padding: 6px 32px;

  .header-icon {
    font-size: 1.7rem;
  }

  .header-title {
    font-size: 2rem;
    text-transform: uppercase;
  }

}

//modal

.modal-body--open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: opacity 0.6s ease;

  &.after-open {
    opacity: 1;
    .modal {
      transform: translate(-50%, -50%);
    }
  }

  &.before-close {
    opacity: 0;
  }
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -40%;
  transform: translate(-50%, -30%);
  outline: none;
  max-width: 440px;
  width: 80%;
  border-radius: 6px;
  padding: 1rem 1.87rem 2.5rem;
  background: #fafafa;
  transition: 0.6s;

.modal-header {
  display: flex;
  justify-content: center;
  min-width: 260px;

  .modal-title {
    margin-left: auto;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  .modal-close-btn {
    display: flex;
    border: none;
    background: transparent;
    font-size: 28px;
    margin-left: auto;
  }
}

  .statistic-content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .statistic-text-message {
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 4px;
      padding: 8px 16px;

      &.message--green {
        background: #bbffcc;
      }

      &.message--red {
        background: #ffcaca;
      }
    }

  .statistic-stat-block {
    display: flex;
    justify-content: space-around;
    gap: 12px;

  .statistic-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: #2b2b2b;

    .statistic-stat {
      font-size: 2rem;
    }
  }
}

  .statisctic-graph {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .graph-title {
      text-align: center;
      margin-bottom: 16px;
    }

    .graph-row {
      display: flex;
      align-items: center;
      width: 100%;

      .graph-label{
        width: 1rem;
      }

      .bar-container{
        width: 100%;

        .graph-line {
          color: #ffffff;
          padding: 2px 6px;
          text-align: right;
          width: 10px;

          &.graph--green {
            background: #00aa55;
          }

          &.graph--gray {
            background: #888888;
          }
        }
      }
    }
  }

  .statistic-countdown {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
  }
}
}

//example-container
.game-example-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 0.8rem;
  margin-top: 14px;

.row {
  display: flex;
  align-items: center;
  gap: 20px;

  .row-word {
    display: flex;
    flex: 1;
    width: 100%;
    height: 2.75rem;
    max-width: 200px;
    text-transform: uppercase;
    gap: 4px;

    .word-char {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 100%;
      font-size: 1.15rem;
      font-weight: 600;
      background: #888888;
      color: #ffffff;
      border-radius: 4px;
    }
  }

  .row-text {
    flex: 1;
    max-width: 200px;
    margin-left: auto;
  }
}
}

.row:nth-child(1) {
  .row-word {
  .word-char:nth-child(1) {
    background: #00aa55;
  }
}
}

.row:nth-child(2) {
  .row-word {
  .word-char:nth-child(3) {
    background: #ccbb44;
  }
}
}

//keyboard-style
.keyboard {
  margin-top: 10px;
  padding: 0 10px;

   .keys-letters {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
   }

  .row-btn-block:nth-child(1) {
    max-width: calc(10*56px);
  }
  .row-btn-block:nth-child(2) {
    max-width: calc(9 * 56px);
  }
  .row-btn-block:nth-child(3) {
    max-width: calc(9.9 * 56px);
  }

  .row-btn-block {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 0 auto 6px;

    .action-btn {
      padding: 0 12px;
    }
  }

  button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-weight: 600;
    background: rgba(153, 153, 153, 0.4);
    color: #000;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

    &.active {
      border: 1px solid #05c905;
    }
  }

  button:hover {
    background: rgba(153, 153, 153, 0.8);
  }
}

//field-style
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;

  .field-row {
    display: flex;
    gap: 8px;
    width: 100%;
    max-width: 362px;
    perspective: 1000px;

    &.shake {
      animation: shake .4s ease-in;
    }
  }

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 60px;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    border: 3px solid rgba(153, 153, 153, 0.5);
    transform-style: preserve-3d;

    &.semi-correct {
      background: #ccbb44;
      color: #ffffff;
      border: 3px solid #ccbb44;
      border-radius: 4px;
    }

    &.correct {
      background: #00aa55;
      color: #ffffff;
      border: 3px solid #00aa55;
      border-radius: 4px;
    }

    &.incorrect {
      background: #888888;
      color: #ffffff;
      border: 3px solid #888888;
      border-radius: 4px;
    }
  }

  .cell:nth-child(1) {
    &.flip-cell {
      animation: flip 1s ease-in-out;
      animation-duration: 0.6s;
    } 
  } 
  .cell:nth-child(2) {
    &.flip-cell {
      animation: flip 1s ease-in-out;
      animation-duration: 0.8s;
    } 
  }
  .cell:nth-child(3) {
    &.flip-cell {
      animation: flip 1s ease-in-out;
      animation-duration: 1s;
    } 
  } 
  .cell:nth-child(4) {
    &.flip-cell {
      animation: flip 1s ease-in-out;
      animation-duration: 1.2s;
    } 
  } 
  .cell:nth-child(5) {
    &.flip-cell {
      animation: flip 1s ease-in-out;
      animation-duration: 1.4s;
    } 
  } 
}

.showMessage {
  margin-top: 10px;
  font-size: 34px;
  color: red;
}
.hideMessage {
  height: 39px;
  margin-top: 10px;
  color: transparent;
}

//animation
@keyframes shake {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(0px);
  }
}

@keyframes flip {
  from {
    transform: perspective(1000px) rotateX(0deg); 
  }
  to {
    transform: perspective(1000px) rotateX(180deg) scaleY(-1);
  }
}

//media
@media screen and (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }

  .header-container {
    margin-bottom: 1.6rem;
  }

  .field {
    margin-bottom: 1.6rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }
}

@media screen and (max-width: 550px) {
  .row-btn-block:nth-child(2) {
    max-width: 87vw !important ;
  }
  .row-btn-block:nth-child(3) {
    max-width: 93vw !important;
  }

  .keyboard {
    .row-btn-block {
      .action-btn {
        padding: 0 4px !important;
      }
    }
  }

  .overlay {
    background: #ffffff;
    backdrop-filter: none;

    .modal {
      top: 50%;
      font-size: 16px;
      width: 88%;
      padding: 2rem 3rem 0 2rem;
      background: #ffffff;
      height: 100%;

      .game-example-container {
        font-size: 1rem;
      }
    }
  }

}

@media screen and (max-width: 350px) {
  .header-container {
    .header-title {
      font-size: 1.6rem;
    }
  }

  .field {
    box-sizing: border-box;
    padding: 0 46px;
    .cell {
      height: 32px;
    }
  }

  .keyboard {
    button {
      height: 2rem;
    }
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  #root {
    height: auto;
  }
}


