@import 'colors.scss';

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;

  &:hover {
    opacity: 0.7;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  background: transparent;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
 // background: #000218;
  overflow: hidden;
}

svg {
  color: #999999;
    cursor: pointer;
    transition: .4s ease;

    &:hover {
      color: #000;
    }
}


//media
@media screen and (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  #root {
    height: auto;
  }
}


