$primary-color-dark: rgba(0, 0, 0, .7);
$primary-color-light: #ffffff;
$secondary-color-light: rgba(153, 153, 153, 0.4);
$secondary-color-dark: rgba(153, 153, 153, 0.9);
$correct-word-color: #00aa55;
$semi-correct-word-color: #ccbb44;
$incorrect-word-color: #888888;
$lose-msg-color: #ffcaca;
$icon-color: #999999;
$overlay-color: rgba(0, 0, 0, .3);